<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RegiNexus</title>
    <link rel="shortcut icon" type="image/jpg" href="icon.png"/>
  </head>

  <body>
    <h1>Link your Minecraft UUID to RegiNexus</h1>
    <h3>Connect to metamask</h3>
    <button id="connect">Connect</button>
    <h3>Generate signature</h3>
    <button type="button" id="sign">Sign</button>
    <h3>Your information:</h3>
    <p>Selected account: </p>
    <p id="account"></p>
    <p>Selected UUID: </p>
    <p id="uuid"><%= uuidvar %></p>
    <p>Generated signature:</p>
    <p id="signature"></p>
    <p>Your command: </p>
    <p id="command"></p>
    
  </body>
  <script src="client.js"></script>
  <script src="datahash.js"></script>
  <script src="sha3.js"></script>
</html>