<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RegiNexus</title>
    <link rel="shortcut icon" type="image/jpg" href="icon.png"/>
  </head>
  
  <body>
    <center>
    <h2>RegiNexus</h2>
    <p>Wallet:</p>
    <p id="account">-</p>
    <p>UUID:</p>
    <p id="uuid"><%= uuidvar %></p>
    <button id="connect">Connect Wallet</button>
    <button type="button" id="sign" disabled =true>Generate signature</button>
    <p>Command: </p>
    <input id="command" readonly>
    <button type="button" id="copy" disabled=true>Copy</button>
    <p id="copiedmsg"></p>
    </center>
  </body>
  <script src="reginexus.js"></script>
  <script src="datahash.js"></script>
  <script src="sha3.js"></script>
</html>